.section__about {
    padding-top: 0;
}



.work__list {
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 30px;
}

.section__work__image__first,
.section__work__image__second,
.section__work__image__trird {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 100%;
}

.section__work__image {
    position: relative;
}

.text__about__picture {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color;
    background: rgba(47, 48, 58, 0.8);
}

