.header {
  color: $primary-text-color;
  padding: 24px 0;
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: flex;
    align-items: center;
  }



.navigation {
  display: flex;
    margin-right: auto;
}



.links {
  display: flex;
  align-items: center;
  column-gap: 50px;
  padding: 0;
  margin: 0;
  
}



.links__list {
  @include link();
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $header-color;
  transition: color $animation-modal;
  @include link();
}

.link__current {
  position: relative;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $accent-color;
  @include link();

  &::after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      bottom: -32px;
      background: $accent-color;
      border-radius: 2px;
      transform: scaleX(1);
      width: 100%;
      height: 4px;
  }
}

.links {
  display: flex;
  align-items: center;
  column-gap: 50px;
  padding: 0;
  margin: 0;
}

.contact {
  display: flex;
  column-gap: 50px;
  margin: 0;
  padding: 0;
}

.contact__list {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  column-gap: 10px;
  align-items: center;

  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $animation-modal;
  @include link();

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__list {
  display: flex;
  align-items: center;
}

.mailto__link,
.telephone__link {
  fill: currentColor;
  transition: fill $animation-modal;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}