.list__presentation {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0;
    @mixin list {
    };
    margin-top: calc(-1 * #{$list-gap});
        margin-left: calc(-1 * #{$list-gap});
        
}

.post_list__presentation {
    margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% / 3 - #{$list-gap});
}



.list__presentation .post__link {
    display: block;
    cursor: pointer;
    transition: box-shadow $animation-modal;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }



.post__image {
    position: relative;
    overflow: hidden;
    &:hover .post__text {
            transform: translateY(0);
        }
}

.post__image:hover .post__text {
    transform: translateY(0);
}

.post__text {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $color;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform $animation-modal;
}

.demonstration__title {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $header-color;
}

.demonstration__text {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    color: $primary-text-color;
}

.demonstration {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.demonstration-image-techno,
.demonstration-image-basketball,
.demonstration-image-fish,
.demonstration-image-headphones,
.demonstration-image-boxes,
.demonstration-image-monitor,
.demonstration-image-book,
.demonstration-image-lab,
.demonstration-image-notebook {
  background: $color;
@include border();
}