.color__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $accent-color;
}

.black__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.container .logo {
    margin-right: 93px;
    @include link();
}