.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: $color;
    border-radius: 4px;
    transition: transform $animation-modal,
        visibility $animation-modal;
}

.visually-hidden {
    @extend %visually-hidden;
}

.closed {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.close {
    fill: $header-color;
    transition: fill $animation-modal;

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.modal__main {
    width: 100%;
    height: 100%;
}

.title__form {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $header-color;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__name {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    position: relative;
}

.form__imput {
    position: relative;
}

.contact__form__input {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color $animation-modal;

    &:focus+.form__svg {
        fill: $accent-color;
    }
}

.contact__form__input:focus,
.form__textarea:focus {
    border-color: $accent-color;
    outline: none;
}

.form__svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: $header-color;
    transition: fill $animation-modal;
}

.form__imput {
    position: relative;
}

.contact__form__input {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color $animation-modal;

    &:focus+.form__svg {
        fill: $accent-color;
    }
}

.form__label__coments {
    display: block;
    margin-bottom: 20px;
}

.form__textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color $animation-modal;
}

.checkbox__checkpoint {
    margin-bottom: 30px;
}

.form__label__accept {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.71;
    color: $primary-text-color;
}

.modal__check__active {
    position: absolute;

    &:checked+.form__svg__checkbox__active {
        background-color: $accent-color;
        border: none;
    }
}

.form__svg__checkbox__active {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    fill: var(--color);
    border: 2px solid #000000;

    &:checked+.form__svg__checkbox__active {
        background-color: $accent-color;
        border: none;
    }
}

.form__text__accept {
    position: relative;
}

.accept {
    color: $accent-color;
}

.accept__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.06em;
    color: $color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 52px;
    cursor: pointer;
}