$color: #ffffff;
$color-tittle: #000;
$primary-text-color: #757575;
$header-color: #212121;
$accent-color: #2196f3;
$accent-btn-color: #188ce8;
$icon-color: #afb1b8;
$animation-modal: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primaty-font-family: "Roboto",
sans-serif;
$primary-letter-spacing: 0.03em;
$font-size: 14px;
$background-color: #ffffff;
$list-gap: 30px;